/*
Mobile testing on
1080 x 1920 pixel
*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	background: #FAFAFA;
	min-height: 100%;
	padding-bottom: 0px;
	position:relative
}

a{
	text-decoration: none;
}

/*NAVIGATION*/

#nav__logo {
	background: white;
	padding: 20px 0;
	border-bottom: 1px solid #E1E1E1;
	margin: 0px;

}

#nav__logo h1 {
	font-size: 6em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 5px;
	text-align: center;
	margin: 0px;
}

#nav__logo--primary-color{
	color: #007dcfff;
}

#nav__logo--secondary-color {
	color: #d7dc1ffb;
}

/*MAIN CONTENT*/

#main-page__start-section {
	background-image: url("./headphones.jpeg");
	background-size: 100% 100%;
	text-align: center;
	height: 1080px;
	border-top: 1px solid #E1E1E1;
}

.main__test__description {
	background: #FAFAFA;
	padding: 20px;
	font-size: 20px;
	border-bottom: 1px solid #E1E1E1;
	margin: 10px 0px 20px 20px;

	font-size: 3em;
	letter-spacing: 2px;
	line-height: 2em;
}

.main__test__description--no-border {
	border: none;
}

.main__test__description--underline {
	border-bottom: 5px solid #d7dc1ffb;
	font-style: italic;
}



#button__start {
	color: white;
	font-size: 5em;
	margin-top: 200px;
	background: #b2226aff;
	border: none;
	padding: 0.5em;
	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;
}

 #button__start:hover{
 	background: white;
 	color: #b2226aff;
 	border: 2px solid #b2226aff;
 }

/*CONFIGURATION STAGE*/
#main__config-questions {
	padding-bottom: 200px;
}

.main__config-questions__number-box {
	display: inline-block;
	background-color: #007dcfff;
	color: white;
	margin-right: 10px;

	text-align: center;
	padding: 17px 0;
	border-radius: 5px;
	border: 2px #007dcfff solid;

	font-size: 2em;
	width: 2em;
}

.main__config-questions__number-box:hover {
	cursor: pointer;
}

/* TESTTIN STAGE*/
#main__test__answers {
	width: 100%;
	margin-left: 40px;
	margin-top: 4em;
}

#button__play {
	color: white;
	font-size: 1.5em;
	background: #007dcfff;
	border: none;
	padding: 0.5em;
	border-radius: 10px;
	text-transform: uppercase;
	border: 2px solid white;
	cursor: pointer;
}


#button__play:hover {
	color: #007dcfff;
	background: white;
	border: 2px solid #007dcfff;
}


.main__test__answer__img {
	background-size: 100% 100%;
	width: 40%;
	display: block;
	border: 5px solid #007dcfff;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1em;
	cursor: pointer;
}

#button__next {
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-size: 4em;
	background: #b2226aff;
	padding: 0.5em;
	border-radius: 10px;
	text-transform: uppercase;
	border: 2px solid white;
	cursor: pointer;
	display: block;
}

#button__next:hover {
	background-color: white;
	border: 2px solid #b2226aff;
	color: #b2226aff;
}

/*RESULTS STAGE - Table*/
#main__test__results{

 margin-left: 40px;

}

#main__test__results__table{
	border-collapse: collapse;
	font-size: 20px;
	margin-left: 40px;
	border: 1px solid #E1E1E1;
}

#main__test__results > .main__test__description{
	border: none;
}


#main__test__results__table th{
	padding: 20px 40px;
	border-bottom: 1px solid black;
	font-size: 3em;
}

#main__test__results__table td {
	
	padding: 20px 40px;
	font-size: 3em;
	text-align: center;
}

#main__test__results__table tr:nth-child(odd){
	background: white;
}

#main__test__results__table button {
	color: white;
	font-size: 1em;
	border: none;
	padding: 10px;
	border-radius: 5px;
	text-transform: uppercase;
	border: 2px solid white;
	cursor: pointer;
}

#main__test__results__table button:hover {
	color: #007dcfff;
	background: white;
	border: 2px solid #007dcfff;
}

/*Bottom navigation*/

#nav__bottom {
	padding: 20px 0px;
	width: 100%;
	background: black;
	position: fixed;
	bottom: 0;
}


/*USED BY JS*/
.input-hidden { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

.check{
	opacity: 0.5;
}

.label-check{
background-color: white;
 color: #007dcfff;
 border: 2px #007dcfff solid;
}
