
/*CONFIGURATION STAGE*/
/*#main__config-questions {

}*/

.main__config-questions__number-box {
	display: inline-block;
	background-color: #007dcfff;
	color: white;
	margin-right: 10px;
	text-align: center;
	border-radius: 5px;
	border: 2px #007dcfff solid;
	font-size: 1.5rem;
	padding: 1rem;
	width: 4rem;
}

.main__config-questions__number-boxes {
	margin-top: 32px;
}

.main__config-questions__number-box:hover {
	cursor: pointer;
}

.label-check{
 	background-color: white;
 	color: #007dcfff;
 	border: 2px #007dcfff solid;
}

