/*MAIN CONTENT*/

#body__landing-page .main__test__description {
	border: none;
}

#main__start-section {
	background: url("../media/headphones.jpeg") bottom/cover no-repeat;
	height: 60vh;
	width: 100vw;
	border-top: 1px solid #E1E1E1;
	position: relative;
}

#button__start {
	font-size: 3rem;
	padding: 0.5rem;
	color: white;
	background: #b2226aff;

	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;

	left: 30%;
	top: 40%;
	
	display: inline-block;
	position: absolute;
}

 #button__start:hover{
 	color: #b2226aff;
 	background: white;
 	border: 2px solid #b2226aff;
 }

/*starting from 640px/40 rem tablet mode*/
@media(min-width: 40rem) and (min-width: 40rem){
	#button__start {
		left: 65%;
		font-size: 4rem;
		border: 3px solid white;
	}
}

@media(min-width: 60rem) and (min-width: 60rem){

	#main__start-section {
		height: 80vh;
	}
		#button__start {
		left: 40%;
		padding: 2rem;
		font-size: 5rem;
		border: 3px solid white;
	}
}