/* TESTING STAGE*/
#main__test__answers {
	width: 80vw;
	min-width: 12.5rem;
	max-width: 25rem;
	display: inline-block;
	margin-left: 2rem;
}

.main__test__answer__img {
	background-size: 100% 100%;
	display: block;
	border: 5px solid #007dcfff;
	margin-top: 1em;
	cursor: pointer;
	width: 100%;
	filter: grayscale(70%);
}



#button__next {
	margin-top: 4rem;
}

/*JS classes*/
.check{
	filter: grayscale(0%);
}

@media(min-width:40rem) and (min-height: 40rem){
	#main__test__answers{
		width: 100vw;
		max-width: 40rem;
	}

	.main__test__answer__img {
		width: 40%;
		height: 35%;
		display: inline-block;
		margin: 1rem;
	}

}

