/*RESULTS STAGE - Table*/

#main__test__results{
	max-width: 100vw;

}

#main__test__results__table{
	font-size: 1rem;
	margin-left: 2rem;
	margin-right: 2rem;
	border: 1px solid #E1E1E1;
	border-collapse: collapse;
	
}

#main__test__results > .main__test__description{
	border: none;
}

#main__test__results__table th{
	font-size: 1rem;
	padding: 1rem;
	border-bottom: 1px solid black;
}

#main__test__results__table td {
	font-size: 1rem;
	padding: 1rem;
	text-align: center;
}

#main__test__results__table tr:nth-child(odd){
	background: white;
}

#main__test__results__table button {
	font-size: 1em;
	padding: 0.5rem;
	text-transform: uppercase;
	color: white;
	border: 2px solid white;
	border-radius: 5px;
	cursor: pointer;
}

#main__test__results__table button:hover {
	color: #007dcfff;
	background: white;
	border: 2px solid #007dcfff;
}