/* TESTING STAGE*/
#main__test__answers {
	width: 100vw;
	margin-left: 2rem;
}

.main__test__answer__img {
	background-size: 100% 100%;
	display: block;
	border: 5px solid #007dcfff;
	margin-top: 1em;
	cursor: pointer;
	width: 50vw;
	filter: grayscale(70%);
}

.check{
	filter: grayscale(0%);
}

#button__next {
	display: inline-block;
	color: white;
	font-size: 1.5rem;
	padding: 1rem;
	background: #b2226aff;
	border-radius: 10px;
	text-transform: uppercase;
	border: 2px solid white;
	cursor: pointer;
	margin-top: 2rem;
}