* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	background: #FAFAFA;
	margin: 0;
}

a {
	text-decoration: none;
}

h1 {
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0px;
}


/*remove outline on all buttons*/
button:focus {
	outline: none;
}

.backdrop {
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: 0.5;
	position: fixed;
	z-index: 3;
}

.cookies-warning{
	width: 80vw;
	padding: 2rem;
	min-width: 12.5rem;
	max-width: 31.25rem;
	left: 5vw;
	bottom: 20%;
	position: fixed;
	background: white;
	z-index: 4;
	display: inline-block;
}

.button__accept {
	font-size: 1.5rem;
	padding: 1rem;
	min-width: 8.75rem;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	background-color: #d7dc1ffb;
	margin-top: 1rem;
	display: inline-block;
	border: 2px solid  #d7dc1ffb;
	border-radius: 6px;
}

.button__accept:hover,
.button__accept:active
 {
	color:#d7dc1ffb;
	background-color: white;
}

.button__decline {
	font-size: 1rem;
	padding: 0.5rem;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	background-color: grey;
	margin-top: 1rem;
	margin-left: 1rem;
	display: inline-block;
	border: 2px solid  grey;
	border-radius: 6px;
}

.button__decline:hover,
.button__decline:active {
	color:grey;
	background-color: white;
}

/*TOP NAVIGATION*/

#nav__logo {
	width: 100vw;
	background: white;
	padding: 0;
	border-bottom: 1px solid #E1E1E1;
	margin: 0;
}

#nav__logo h1 {
	font-size: 3rem;
	font-weight: bold;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-align: center;
	margin: 0px;
}

#nav__logo--primary-color{
	color: #007dcfff;
}

#nav__logo--secondary-color {
	color: #d7dc1ffb;
}

.main__test__description {
	font-size: 1rem;
	letter-spacing: 2px;
	line-height: 2em;
	background: #FAFAFA;
	padding-bottom: 1rem;
	border-bottom: 1px solid #E1E1E1;
	margin: 2rem;
}

.main__test__description--underline {
	border-bottom: 5px solid #d7dc1ffb;
	font-style: italic;
	display: inline-block;
	margin-bottom: 1rem;
}

.main__test__description > p {
	font-size: 1rem;
 	margin: 0px;
}

#button__play {
	font-size: 1.5rem;
	text-transform: uppercase;
	padding: 1rem;
	color: white;
	background: #007dcfff;

	border: 2px solid white;
	border-radius: 10px;

	margin-top: 2rem;
	
	cursor: pointer;
}


#button__play:hover {
	color: #007dcfff;
	background: white;
	border: 2px solid #007dcfff;
}

#button__next {
	font-size: 1.5rem;
	text-transform: uppercase;
	padding: 1rem;

	color: white;
	
	background: #b2226aff;

	border-radius: 10px;
	border: 2px solid white;

	margin-left: 30%;

	cursor: pointer;
	z-index: 1;
	
	display: inline-block;
}

#button__next:hover {
	color: #b2226aff;
	background-color: white;
	border: 2px solid #b2226aff;
}

#nav__bottom{
	margin-bottom: 2rem;
}


/*USED BY JS*/
.input-hidden { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

@media(min-width: 40rem) and (min-height: 40rem){
	#nav__logo{
		padding: 1rem;
	}

	#nav__logo h1 {
		font-size: 4rem;
	}

	.main__test__description{
		font-size: 2rem;
		padding-bottom: 3rem;
	}

	.main__test__description > p {
		font-size: 2rem;
 		margin: 0px;
	}

	.cookies-warning {
		left: 30vw;
		bottom: 5vw;
		padding: 3rem;
	}

	.button__accept {
		font-size: 2rem;
	}

	.cookies-warning__header{
		font-size: 3rem;
	} 

	.cookies-warning__text {
		font-size: 2rem;
	}

	#button__play {
		font-size: 2rem;
		padding: 1.5rem;
	}

	#button__next {
		margin-left: 60%;
		text-align: center;
		padding: 1.5rem;
		font-size: 2rem
	}

}





