* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	background: #FAFAFA;
	margin: 0;
}

a {
	text-decoration: none;
}

h1 {
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0px;
}

/*remove outline on all buttons*/
button:focus {
	outline: none;
}

/*TOP NAVIGATION*/

#nav__logo {
	background: white;
	padding: 0;
	border-bottom: 1px solid #E1E1E1;
	margin: 0;
	width: 100vw;
}


#nav__logo h1 {
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 5px;
	text-align: center;
	margin: 0px;
}

#nav__logo--primary-color{
	color: #007dcfff;
}

#nav__logo--secondary-color {
	color: #d7dc1ffb;
}

.main__test__description {
	background: #FAFAFA;
	padding-bottom: 1rem;
	border-bottom: 1px solid #E1E1E1;
	margin: 2rem;

	font-size: 1rem;
	letter-spacing: 2px;
	line-height: 2em;
}

.main__test__description--underline {
	border-bottom: 5px solid #d7dc1ffb;
	font-style: italic;
	display: inline-block;
	margin-bottom: 1rem;
}

.main__test__description > p {
 margin: 0px;
}

#button__play {
	color: white;
	font-size: 1.5rem;
	padding: 1rem;
	background: #007dcfff;
	border: none;
	
	border-radius: 10px;
	text-transform: uppercase;
	border: 2px solid white;
	cursor: pointer;
	margin-top: 2rem;
}


#button__play:hover {
	color: #007dcfff;
	background: white;
	border: 2px solid #007dcfff;
}

#button__next {
	display:inline-block;
	color: white;
	font-size: 1.5rem;
	padding: 1rem;
	background: #b2226aff;
	border-radius: 10px;
	text-transform: uppercase;
	border: 2px solid white;
	cursor: pointer;
	z-index: 1;
	margin-left: 30%;
	
}

#button__next:hover {
	background-color: white;
	border: 2px solid #b2226aff;
	color: #b2226aff;

}

#nav__bottom{
	margin-bottom: 2rem;
}


/*USED BY JS*/
.input-hidden { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}



